<!-- http://www.jquery2dotnet.com/ -->
/ http://bootsnipp.com/snippets/featured/rating-card
%div{:class=>"container"}
    %div{:class=>"row"}
        %div{:class=>"col-xs-12 col-sm-8"}
            %div{:class=>"well well-sm"}
                %div{:class=>"row"}
                    %div{:class=>"col-xs-12 col-md-10"}
                        = render 'shared/rating_comments', width: responsibility, title: "responsiblity", color: 'progress-bar-success'
                        = render 'shared/rating_comments', width: health, title: 'health', color: 'progress-bar'
                        = render 'shared/rating_comments', width: train, title: 'train', color: 'progress-bar'
                        = render 'shared/rating_comments', width: social, title: 'social', color: 'progress-bar'
                        = render 'shared/rating_comments', width: energy, title: 'energy', color: 'progress-bar'
                        = render 'shared/rating_comments', width: simpatico, title: 'simpatico', color: 'progress-bar'
                %div{:class=>"row"}
                    %div{:class=>"col-sm-12"}
                        %div{:class=>"col-xs-3 col-md-3 text-left"}
                            %h4 Comment
                        %div{:class=>"col-xs-8 col-md-9"}
                            %h4 #{pup.comments}