<!-- http://www.jquery2dotnet.com/ -->
/ http://bootsnipp.com/snippets/featured/rating-card
%div{:class=>""}
    %div{:class=>"row"}
        %div{:class=>"col-sm-12"}
            %div{:class=>"well well-sm"}
                %div{:class=>"row"}
                    = render 'shared/rating_comments', width: responsibility, title: "Breeder Resonsibility", color: 'progress-bar-success'
                    = render 'shared/rating_comments', width: health, title: 'Pup Health', color: 'progress-bar'
                    = render 'shared/rating_comments', width: train, title: 'Trainability', color: 'progress-bar'
                    = render 'shared/rating_comments', width: social, title: 'Social Behavior', color: 'progress-bar'
                    = render 'shared/rating_comments', width: energy, title: 'Energy Level', color: 'progress-bar'
                    = render 'shared/rating_comments', width: simpatico, title: 'Simpatico Rating', color: 'progress-bar'
                %h4{:class=>"rating-comment"} #{pup.comments}
                    