%div{:class=>"container"}
  %div{:class=>"row"}
    %h1 #{query} 
    / %div{:class=>"col-sm-3"}
    /   = button_to 'Submit a New Pup Rating', new_pup_path, :method => :get, :id => 'Rate your Pup', :class => "form-control btn-sm btn-primary"

  / %table#avg_ratings
  /   %thead
  /   %tr
  /     %th="Breeder Responsibility" if @avg_ratings[:breeder_responsibility]
  /     %th Overall Health
  /     %th Trainability
  /     %th Social Behavior
  /     %th Energy Level
  /     %th Simpatico Rating
  /   %tbody
  /     %tr
  /       %td= @avg_ratings[:breeder_responsibility].round(2) if @avg_ratings[:breeder_responsibility
  %div{:class=>"row"}
    %div{:class=>"col-sm-6"}
      %h4 Average Ratings 
      - if @avg_ratings[:breeder_responsibility]
        = render 'shared/avg_rating', rating: @avg_ratings[:breeder_responsibility].round(2), width: @avg_ratings[:breeder_responsibility].round(2) * 20, title: "BREEDER RESPONSIBILITY", color: 'progress-bar-success'
      = render 'shared/avg_rating', rating: @avg_ratings[:overall_health].round(2),  width: @avg_ratings[:overall_health].round(2) * 20, title: 'PUP HEALTH', color: 'progress-bar'
      = render 'shared/avg_rating', rating: @avg_ratings[:trainability].round(2), width: @avg_ratings[:trainability].round(2) * 20, title: 'TRAINABILITY', color: 'progress-bar'
      = render 'shared/avg_rating', rating: @avg_ratings[:social_behavior].round(2), width: @avg_ratings[:social_behavior].round(2) * 20, title: 'SOCIAL BEHAVIOR', color: 'progress-bar'
      = render 'shared/avg_rating', rating: @avg_ratings[:energy_level].round(2), width: @avg_ratings[:energy_level].round(2) * 20, title: 'ENERGY LEVEL', color: 'progress-bar'
      = render 'shared/avg_rating', rating: @avg_ratings[:simpatico_rating].round(2), width: @avg_ratings[:simpatico_rating].round(2) * 20, title: 'SIMPATICO RATING', color: 'progress-bar'
      
    %div{:class=>"col-sm-6"}
      %h4 There are #{@pups.length} ratings for #{query} pups:
      - @pups.each do |pup|
        = render 'shared/comment', pup: pup, responsibility: pup.breeder_responsibility , health: pup.overall_health , train: pup.trainability , social: pup.social_behavior, simpatico: pup.simpatico_rating, energy: pup.energy_level

