%div{:class => "form-group great row", :class => "sub-title"}
  %div{:class => "checkbox_text"}
    = label :pup, :breed_1, "Primary Breed"
    = check_box_tag :multiple_breeds
    = render 'select_input', title: "Primary Breed", list: @all_breeds, var: :breed_1
  %div{:id => "secondary-breed"}
    = label :pup, :breed_2, "Secondary Breed"
    = render 'select_input', title: "Secondary Breed", list: @all_breeds_none, var: :breed_2