%div{:class =>"price-slider row"}
    %div{:class=>"col-sm-6"}
        %h4{:class => "great"}=label :pup, var, title
        %span #{description}
        %span #{des1}
        %span #{des5}
    %br
    %br
    %div{:class=>"col-sm-6 pull-right paw"}
        %div{:class => "paw"}
            %div{:class => "pull-left"}
                %i{:class =>"fa fa-paw fa-2x first", :id => "#{id}-first"}
            %div{:class => "pull-left"}
                %i{:class =>"fa fa-paw fa-2x", :id => "#{id}-second"}
            %div{:class => "pull-left"}
                %i{:class => "fa fa-paw fa-2x", :id => "#{id}-third"}
            %div{:class => "pull-left"}
                %i{:class =>"fa fa-paw fa-2x", :id => "#{id}-fourth"}
            %div{:class => "pull-left"}
                %i{:class => "fa fa-paw fa-2x", :id => "#{id}-fifth"}
            %div{:class=>"col-sm-1 text-left"}
                = text_field :pup, var, :class => "read", :id => id, :value => "0", :readonly => true
            