
%div{:class => "container"}
  %div{:class => "header"}
    %h1 Rate Your Dog


    /BASIC INFO GROUP/
    %div{:class => "sub-header"}
      %h3 Please indicate your dog's breeder. (Optional)
    %br

  = form_tag new_pup_path, :class => "form-horizontal", :method=>'get' do
    %div{:class => "form-group", :class => "sub-title"}
      = label :pup, "Breeder/Kennel Information"
      %div{:class => "explanation"} #{"Type the name of the dog breeder or kennel from which you acquired your dog, and find the name from the drop down list."}
      %div{:class => 'collapse in', :id => 'breeder_form_collapse'}
        = text_field :breeder, :name, :class => "form-control", :id => "breeder_form", :placeholder => "Breeder Name"
        = text_field :breeder, :new, :class => "form-control", :id =>"invisible_field", :type => 'hidden'
        %div{:id => 'autofills', :class => "form-group col-md-12"}
        %br
      %div{:class => 'collapse', :id => 'breeder_well'}
        %div{:class => 'well well-lg'}
          %div{:class => "form-group"}
            = label :name, 'Name'
            = text_field :new_breeder, :name, :class => "form-control breeder_fields", :placeholder => "Enter Breeder/Kennel's Name"
          %div{:class => "form-group"}
            = label :city, 'City'
            = text_field :new_breeder, :city, :class => "form-control breeder_fields", :placeholder => "Enter Breeder/Kennel's City"
          %div{:class => "form-group"}
            = label :state, 'State'
            %br
            = select :new_breeder, :state, options_for_select(@states.collect{ |s| [s, s[0,2]] })
        %span{:id => "cancel_form"}
          %a{:class => "cancel"} Cancel
    
    %br
    %br
    %div{:class => "form-group col-sm-5"}
      = submit_tag 'Next', :name => "button_clicked", :class => "form-control", :id => 'next_button'


-#= render 'dog_breeder_popup', :info => {:header => "Please select a breed in the list.", :close => "", :content => "If "}
-#- if flash[:modal]
-#  :javascript
-#    $(document).ready(function() {
-#      $('#popup').modal({backdrop:'static', keyboard:false});
-#    })