%div{:class => "container"}
  %div{:class => "header"}
    %h1 How Long?

  - flash.each do |key, value|
    %p{:class => "unfilled_fields"}= value

  = form_tag dog_breed_path, :class => "form-horizontal", :method=>'get' do

    /BASIC INFO GROUP/
    %div{:class => "sub-header"}
      %h3 How long have you owned your dog?
    %br
    %div{:class => "form-group great text-center", :class => "sub-title"}
      = render 'text_input', title: "Years", var: 'years', placeholder: "Years", explanation: "How many years have you owned your dog?"
      = render 'text_input', title: "Months", var: 'months', placeholder: "Months", explanation: ""

    %br

    %div{:class => "form-group col-sm-2"}
      = submit_tag 'Next', :id => 'next_button', :class => "form-control", :confirm => ""
