%div{:class => "container"}
  %div{:class => "header"}
    %h1 Rate Your Dog

  = form_tag dog_breed_path, :class => "form-horizontal", :autocomplete => "off", :method => 'get' do

    /BASIC INFO GROUP/
    %div{:class => "sub-header"}
      %h3 How long have you owned your dog?
    %br
    %div{:class => "form-group great text-center", :class => "sub-title"}
      = render 'text_input', title: "Years", var: 'years', placeholder: "Years", explanation: "Enter the number of years you have owned your dog."
      %br
      = render 'text_input', title: "Months", var: 'months', placeholder: "Months", explanation: "And/or enter the number of months you have owned your dog."

    %br
    %br

    %div{:class => "form-group col-sm-5"}
      = submit_tag 'Next', :id => 'next_button', :class => "form-control", :confirm => ""

= render 'popup', :info => {:header=>"We are sorry", :content=>"To keep our database as accurate as possible, we are collecting information only for dogs that have been residing in their current home for six months or more. Please come back to our site and rate your dog after s/he has lived with you for a minimum of six months. Thank you."}

- if flash[:modal]
  :javascript
    $(document).ready(function() {
      $('#popup').modal({backdrop:'static', keyboard:false});
    })