%div{:class => "container"}
	
	%div{:class => "homepage-header"}
		%h1 Welcome to RateMyPup.com

	%h3{:class => "warning"}=flash[:message] if flash[:message]

	%br

	%div{:class => "col-1-3"}
		%div{:class => "form-group", :class => "button-positioning", :id => "rate-btn"}
			= button_to 'Rate your Pup', new_pup_path, :method => :get, :id => 'Rate your Pup', :class => "homepage-button"
	
	/ %br

	%div{:class => "col-1-3"}
		= form_tag breed_path, :method => :get, :class => "form-horizontal" do
			%div{:class => "form-group", :class => "homepage-div"}
				= label :pup, :breed_1, "Breed"
				= select :pup, :breed_1, @all_breeds, {:class => 'form-control'}
			%div{:class => "form-group", :class => "homepage-div"}
				= label :pup, :breed_2, "Second Breed (if a mixed breed)"
				= select :pup, :breed_2, @all_breeds_none, :class => "form-control"

			%div{:class => "form-group", :class => "button-positioning", :id => "breed-btn"}
				= submit_tag 'Find a Breed', :id => 'Find Breed', :class => "form-control", :class => "homepage-button"

	/ %br
	
	%div{:class => "col-1-3"}
		= form_tag breeder_search_path, :method => :get, :class => "form-horizontal" do
			%div{:class => "form-group", :class => "homepage-div"}
				%input{:type => 'text', :id => 'breeder_find'}
				%div{:id => 'autofills'}
			%div{:class => "form-group", :class => "button-positioning", :id => "breeder-btn"}
				= submit_tag 'Find A Breeder', :id => 'Find Breeder', :class => "form-control", :class => "homepage-button"

	-#%br
