%body{:id=>"background"}
    %h3{:class => "warning"}=flash[:message] if flash[:message]

    %div{:class => "container-fluid", :id => "pup"}

        - flash.each do |key, value|
            %p{:class => "unfilled_fields"}= value
        
        //TOP PART (Tagline, Buttons)
        %div{:class => "row top"}
            %div{:class => "row tagline"}
                %h1{:id => "titleline"}
                    Improve the dogs of our lives, and lives of our dogs
                %h2{:id => "tagline-text"} 
                    Find a pup from a <strong>reliable</strong> source
                    //First Row 
            %div{:class => "row"}
                %div{:class => "col-lg-4 box-a text-center"}
                    %a{:class => "main-button-link button-a", :href => "/pups/dog_name"}
                        %div{:class => "main-button"}
                            %div{:class => "main-button-small-text"}
                                Rate your
                            %div{:class => "main-button-large-text"}
                                Dog

                %div{:class => "col-lg-4 box-b hidden"}
                    %div{:class => "panel panel-default"}
                        %div{:class => "panel-heading"}
                            %h3{:class => "panel-title"}
                                Search for ratings by breed:
                                %span{:id => "cancel-b"}
                                    %a{:class => "cancel"} &#10006;
                        %div{:class => "panel-body"}
                            =label :pup, "What kind of pup are you looking for?"
                            = form_tag breed_path, :method => :get, :class => "form-horizontal" do
                                = render 'breed_checkbox'
                                %div{:class => "form-group", :class => "button-positioning"}
                                    = submit_tag 'Find a Breed', :id => 'Find Breed', :class => "form-control"

                %div{:class => "col-lg-4 box-b text-center"}
                    %a{:class => "main-button-link button-b"}
                        %div{:class => "main-button"}
                            %div{:class => "main-button-small-text"}
                                Find Ratings for a
                            %div{:class => "main-button-large-text"}
                                Breed

                %div{:class => "col-lg-4 box-c hidden"}
                    %div{:class => "panel panel-default"}
                        %div{:class => "panel-heading"}
                            %h3{:class => "panel-title"}
                                Find a breeder or kennel by name or city and state:
                                %span{:id => "cancel-c"}
                                    %a{:class => "cancel"} &#10006;
                        %div{:class => "panel-body"}
                            = form_tag breeder_search_path, :method => :get, :class => "form-horizontal" do
                                %div{:class => "form-group", :class => "homepage-div"}

                                    %div{:class => "col-md-12"}
                                        %input{:type => 'text', :id => 'breeder_find', :class => "form-control", :placeholder => "Name"}
                                    %div{:class => "col-md-12"}
                                        %hr

                                    %div{:class => "col-md-6"}
                                        %input{:type => 'text', :id => 'breeder_city', :class => "form-control", :placeholder => "City"}
                                    %div{:class => "col-md-6"}
                                        %input{:type => 'text', :id => 'breeder_state', :class => "form-control", :placeholder => "State"}
                        %ul{:id => 'autofills', :class => "list-group"}

                %div{:class => "col-lg-4 box-c text-center"}
                    %a{:class => "main-button-link button-c"}
                        %div{:class => "main-button"}
                            %div{:class => "main-button-small-text"}
                                Find Ratings for a 
                            %div{:class => "main-button-large-text"}
                                Breeder or Kennel
            //Second Row
            %div{:class => "row"}
                %div{:class => "col-lg-4 box-a text-center"}
                    %a{:class => "main-button-link button-a", :href => root_path}
                        %div{:class => "main-button"}
                            %div{:class => "main-button-small-text"}
                                (place for ad)
                            %div{:class => "main-button-large-text"}
                                Ad Box
                %div{:class => "col-lg-4 box-a text-center"}
                    %a{:class => "main-button-link button-a", :href => root_path}
                        %div{:class => "main-button"}
                            %div{:class => "main-button-small-text"}
                                Comment of the Day
                            %div{:class => "main-button-large-text"}
                                Great Pup!
                %div{:class => "col-lg-4 box-a text-center"}
                    %a{:class => "main-button-link button-a", :href => root_path}
                        %div{:class => "main-button"}
                            %div{:class => "main-button-small-text"}
                                (place for ad)
                            %div{:class => "main-button-large-text"}
                                Ad Box
    
    //CONTACT INFO
    %div{:class => "row navbar-fixed-bottom"}
        %div{:class => "col-md-12 contact contact-text-sm"}
            %div{:class => "col-sm-6"}
                %p For More Information on Breed Health: 
                = link_to 'Canine Health Information Center', 'http://www.caninehealthinfo.org/', :id => "contact-link"
            %div{:class => "col-sm-6"}
                %p Contact Info
                = link_to "linda@ratemypup.com", '#', :class=>"contact-link"
