%h3=flash[:message] if flash[:message]

= link_to 'Rate your Pup', new_pup_path, :method => :get
%br
%br
= form_tag breed_path, :method => :get do
  = label :pup, :breed_1, 'Breed'
  = select :pup, :breed_1, @all_breeds
  = label :pup, :breed_2, 'Second Breed if a mixed breed'
  = select :pup, :breed_2, @all_breeds_none
  = submit_tag 'Find a Breed'
%br
%br
  = label :breeders, :name, 'Breeder'
  = select :breeders, :name, ['George W. Bush', 'Richard Nixon', 'Barack Obama']
  = link_to 'Find a Breeder', pups_path, :method => :get
