%h3{:class => "warning"}=flash[:message] if flash[:message]

%div{:class => "container-fluid"}
    %div{:class => "row", :id => "tagline"}
        %h1{:id => "tagline-text"}
            Find a pup from a <strong>reliable</strong> source
    %div{:class => "row"}

        %div{:class => "col-lg-4 box-a hidden"}
            %div{:class => "panel panel-default"}
                %div{:class => "panel-heading"}
                    %h3{:class => "panel-title"}
                        Rate a puppy that you've purchased from a breeder:
                %div{:class => "panel-body"}
                    %div{:class => "form-group", :class => "button-positioning"}
                        = button_to 'Rate your Pup', new_pup_path, :method => :get, :id => 'Rate your Pup', :class => "form-control"

        %div{:class => "col-lg-4 box-a text-center"}
            %a{:class => "main-button-link button-a"}
                %div{:class => "main-button"}
                    %div{:class => "main-button-small-text"}
                        Rate a
                    %div{:class => "main-button-large-text"}
                        Pup


        %div{:class => "col-lg-4 box-b hidden"}
            %div{:class => "panel panel-default"}
                %div{:class => "panel-heading"}
                    %h3{:class => "panel-title"}
                        Find a pup breed by type or mix:
                %div{:class => "panel-body"}
                    = form_tag breed_path, :method => :get, :class => "form-horizontal" do
                        = render 'breed_checkbox'
                        %br
                        %div{:class => "form-group", :class => "button-positioning"}
                            = submit_tag 'Find a Breed', :id => 'Find Breed', :class => "form-control"

        %div{:class => "col-lg-4 box-b text-center"}
            %a{:class => "main-button-link button-b"}
                %div{:class => "main-button"}
                    %div{:class => "main-button-small-text"}
                        Find a
                    %div{:class => "main-button-large-text"}
                        Breed

        %div{:class => "col-lg-4 box-c hidden"}
            %div{:class => "panel panel-default"}
                %div{:class => "panel-heading"}
                    %h3{:class => "panel-title"}
                        Find a pup breeder by name:
                %div{:class => "panel-body"}
                    = form_tag breeder_search_path, :method => :get, :class => "form-horizontal" do
                        %div{:class => "form-group", :class => "homepage-div"}
                            %div{:class => "col-md-12"}
                                %input{:type => 'text', :id => 'breeder_find', :class => "form-control", :placeholder => "Name"}
                                %br
                            %div{:class => "col-md-6"}
                                %input{:type => 'text', :id => 'breeder_city', :class => "form-control", :placeholder => "City"}
                            %div{:class => "col-md-6"}
                                %input{:type => 'text', :id => 'breeder_state', :class => "form-control", :placeholder => "State"}
                %ul{:id => 'autofills', :class => "list-group"}

        %div{:class => "col-lg-4 box-c text-center"}
            %a{:class => "main-button-link button-c"}
                %div{:class => "main-button"}
                    %div{:class => "main-button-small-text"}
                        Find a
                    %div{:class => "main-button-large-text"}
                        Breeder
-#%br
