%h1 Create New Pup

= form_tag pups_path do

  = label :pup, :pup_name, 'Pup Name'
  = text_field :pup, 'pup_name'
  %br
  = label :pup, :owner_name, 'Owner Name'
  = text_field :pup, 'owner_name'
  %br
  / = label :pup, :breeder, 'Breeder'
  / = text_field :pup, 'breeder'
  = label :pup, :breed_1, "Primary Breed"
  = select :pup, :breed_1, @all_breeds
  %br
  = label :pup, :breed_2, "Secondary Breed"
  = select :pup, :breed_2, @all_breeds_none
  %br
  = label :pup, :breeder_responsibility, 'Breeder Responsibility'
  = select :pup, :breeder_responsibility, [1,2,3,4,5]
  %br
  = label :pup, :overall_health, 'Overall Health'
  = select :pup, :overall_health, [1,2,3,4,5]
  %br
  = label :pup, :trainability, 'Trainability'
  = select :pup, :trainability, [1,2,3,4,5]
  %br
  = label :pup, :social_behavior, 'Social Behavior'
  = select :pup, :social_behavior, [1,2,3,4,5]
  %br
  = label :pup, :energy_level, 'Energy Level'
  = select :pup, :energy_level, [1,2,3,4,5]
  %br
  = label :pup, :simpatico_rating, 'Simpatico Rating'
  = select :pup, :simpatico_rating, [1,2,3,4,5]
  %br
  = label :pup, :comments, 'Comments'
  = text_field :pup, 'comments'
  %br
  %br
  = submit_tag 'Add Pup'
