%div{:class => "container"}

  %h1 Create New Pup

  - flash.each do |key, value|
    %p= value

  = form_tag pups_path, :class => "form-horizontal" do
    %div{:class => "form-group"}
      = label :pup, :pup_name, 'Pup Name'
      = text_field :pup, 'pup_name', :class => "form-control", :placeholder => "Enter Pup Name"
    %div{:class => "form-group"}
      = label :pup, :owner_name, 'Owner Name'
      = text_field :pup, 'owner_name', :class => "form-control", :placeholder => "Enter Owner Name"
    %div{:class => "form-group"}
      = label :pup, :owner_name, 'Breeder Name'
      = text_field :breeder, 'breeder', :class => "form-control", :id => "breeder_form", :placeholder => "Enter Breeder Name"
      %div{:id => 'autofills'}
      = text_field :pup, 'breeder_id', :class => "form-control", :id =>"invisible_id", :type => 'hidden'
      / = label :pup, :breeder, 'Breeder'
      / = text_field :pup, 'breeder'
    %div{:class => "form-group"}
      %table{:class => "table table-striped"}
        %tr
          %td
            = label :pup, :breed_1, "Primary Breed"
          %td
            = select :pup, :breed_1, @all_breeds, {:class => 'form-control'}
        %tr
          %td
            = label :pup, :breed_2, "Secondary Breed"
          %td
            = select :pup, :breed_2, @all_breeds_none, :class => "form-control"
        %tr
          %td
            = label :pup, :breeder_responsibility, 'Breeder Responsibility'
          %td
            = select :pup, :breeder_responsibility, [1,2,3,4,5]
        %tr
          %td
            = label :pup, :overall_health, 'Overall Health'
          %td
            = select :pup, :overall_health, [1,2,3,4,5]
        %tr
          %td
            = label :pup, :trainability, 'Trainability'
          %td
            = select :pup, :trainability, [1,2,3,4,5]
        %tr
          %td
            = label :pup, :social_behavior, 'Social Behavior'
          %td
            = select :pup, :social_behavior, [1,2,3,4,5]
        %tr
          %td
            = label :pup, :energy_level, 'Energy Level'
          %td
            = select :pup, :energy_level, [1,2,3,4,5]
        %tr
          %td
            = label :pup, :simpatico_rating, 'Simpatico Rating'
          %td
            = select :pup, :simpatico_rating, [1,2,3,4,5]
    %div{:class => "form-group"}
      = label :pup, :comments, 'Comments'
      = text_field :pup, 'comments', :class => "form-control"
    %div{:class => "form-group"}
      = submit_tag 'Add Pup', :id => 'Add Pup', :class => "form-control"
