%div{:class => "container"}

  %h1 Create New Breeder

  - flash.each do |key, value|
    %p= value

  = form_tag breeders_path, :class => "form-horizontal" do
    %div{:class => "form-group"}
      = label :breeder, :name, 'Breeder or Kennel Name'
      = text_field :breeder, 'name', :class => "form-control", :placeholder => "Enter Breeder or Kennel Name"
    %div{:class => "form-group"}
      = label :breeder, :city, 'Breeder or Kennel City'
      = text_field :breeder, 'city', :class => "form-control", :placeholder => "Enter Breeder or Kennel City"
    %div{:class => "form-group"}
      = label :breeder, :state, 'Breeder or Kennel State'
      = text_field :breeder, 'state', :class => "form-control", :placeholder => "Enter Breeder or Kennel State"
    %div{:class => "form-group"}
      = submit_tag 'Add Breeder', :id => 'Add Breeder', :class => "form-control"
