<!DOCTYPE html>
<html>

<!--Devise flash notices-->

<head>
  <title>SimpaticoPup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Devise user login buttons -->
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top custom-navbar">
      <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">SimpaticoPup</a>
                </div>
              </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li> 
                <%= link_to "Our Mission", text_mission_path %>
              </li>
              <li> 
                <%= link_to "Background", text_background_path %>
              </li>
              <li> 
                <%= link_to "Goals", text_goals_path %>
              </li>
              <li> 
                <%= link_to "How You Can Help", text_how_you_can_help_path %>
              </li>
              
              <% if user_signed_in? %>

                  <li>
                    <span class="navbar-text"><%= "Logged in as " + current_user.email %></span>
                  </li>

                  <li>
                    <%= link_to "Edit Profile", edit_user_registration_path %>
                  </li>

                  <li>
                    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                  </li>
              <% else %>
                  <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Signup", new_user_registration_path %></button></li>
                  <li><%= link_to "Login", new_user_session_path, :id => 'Login' %></li>
              <% end %>
            </ul>
          </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>


</body>
</html>